:root {
    --dist-centro-roleta: 180px;
    --tamanho-roleta: 620px;
    --margem-folha: 50px;
    --tamanho-premio: 150px;

    --tamanho-fatia: calc(var(--tamanho-roleta) / 1.722);
    --tamanho-meia-fatia: calc(var(--tamanho-fatia) / 2);
}

/* @media screen and (max-width: 500px) {
    :root {
        --dist-centro-roleta: 90px;
        --tamanho-roleta: 395px;
        --margem-folha: 8px;
        --tamanho-premio: 100px;
    
        --tamanho-fatia: calc(var(--tamanho-roleta) / 1.722);
        --tamanho-meia-fatia: calc(var(--tamanho-fatia) / 2);
    }
} */

@media screen and (max-width: 600px) {
    :root {
        --dist-centro-roleta: 25vw;
        --tamanho-roleta: calc(87vw);
        --margem-folha: 8px;
        --tamanho-premio: 100px;
    
        --tamanho-fatia: calc(var(--tamanho-roleta) / 1.722);
        --tamanho-meia-fatia: calc(var(--tamanho-fatia) / 2);
    }
}

.h5 {
    padding-top: 40px;
}

.folha {
    position: relative;
    background: transparent;
    width: var(--tamanho-roleta);
    height: var(--tamanho-roleta);
    margin: var(--margem-folha);
}

#divbotaoenviar {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#botaoenviar {
    width: 50%;
}

#telaroleta {
    overflow: hidden
}

.roleta {
    border: 10px solid #d2a608;
    position: relative;
    width: var(--tamanho-roleta);
    height: var(--tamanho-roleta);
    border-radius: 50%;
    overflow: hidden;
    /*    animation: roleta 5s linear infinite;*/
}

path {
    fill: transparent;
}

.seta {
    position: absolute;
    left: calc(50% - 20px);
    border-bottom: 0px solid transparent;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 40px solid #33c9dc;
    width: 0;
    height: 0;
    z-index: 999;
    /* animation: animacaoSeta .35s linear infinite; */
}

.box1,
.box2,
.box3,
.box4,
.box5,
.box6,
.box7,
.box8 {
    position: absolute;
    width: 0;
    height: 0;
}


.box1 {
    border-top: 0px solid transparent;
    border-right: calc(var(--tamanho-meia-fatia) / 0.866025) solid transparent;
    border-bottom: var(--tamanho-fatia) solid #f6685e;
    border-left: calc(var(--tamanho-meia-fatia) / 0.866025) solid transparent;
    right: 50%;
    bottom: 50%;
}

.box2 {
    border-top: var(--tamanho-fatia) solid #9c27b0;
    border-right: calc(var(--tamanho-meia-fatia) / 0.866025) solid transparent;
    border-bottom: 0px solid transparent;
    border-left: calc(var(--tamanho-meia-fatia) / 0.866025) solid transparent;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50%;
}

.box3 {
    border-bottom: var(--tamanho-fatia) solid #009688;
    border-right: calc(var(--tamanho-meia-fatia) / 0.866025) solid transparent;
    border-top: 0px solid transparent;
    border-left: calc(var(--tamanho-meia-fatia) / 0.866025) solid transparent;
    left: 50%;
    bottom: 50%;
}

.box4 {
    border-top: var(--tamanho-fatia) solid #e91e63;
    border-right: calc(var(--tamanho-meia-fatia) / 0.866025) solid transparent;
    border-bottom: 0px solid transparent;
    border-left: calc(var(--tamanho-meia-fatia) / 0.866025) solid transparent;
    left: 50%;
    top: 50%;
}

.box5 {
    border-bottom: var(--tamanho-fatia) solid #673ab7;
    border-right: calc(var(--tamanho-meia-fatia) / 0.866025) solid transparent;
    border-top: 0px solid transparent;
    border-left: calc(var(--tamanho-meia-fatia) / 0.866025) solid transparent;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
}

.box6 {
    border-top: var(--tamanho-fatia) solid #2196f3;
    border-right: calc(var(--tamanho-meia-fatia) / 0.866025) solid transparent;
    border-bottom: 0px solid transparent;
    border-left: calc(var(--tamanho-meia-fatia) / 0.866025) solid transparent;
    right: 50%;
    top: 50%;
}



@keyframes roleta {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(999deg)
    }
}

.premio {
    position: absolute;
    z-index: 999;
    font-size: 18px;
    font-weight: bold;
    color: white;
    top: 50%;
    left: 50%;
    width: var(--tamanho-premio);
    height: 20px;
    text-align: center;
}
.premio1 {
    transform: translate(-50%, -50%) rotate(30deg) translate(var(--dist-centro-roleta), 0);
}

.premio2 {
    transform: translate(-50%, -50%) rotate(90deg) translate(var(--dist-centro-roleta), 0);
}

.premio3 {
    transform: translate(-50%, -50%) rotate(150deg) translate(var(--dist-centro-roleta), 0);
}

.premio4 {
    transform: translate(-50%, -50%) rotate(210deg) translate(var(--dist-centro-roleta), 0);
}

.premio5 {
    transform: translate(-50%, -50%) rotate(270deg) translate(var(--dist-centro-roleta), 0);
}

.premio6 {
    transform: translate(-50%, -50%) rotate(330deg) translate(var(--dist-centro-roleta), 0);
}

.play {
    z-index: 999;
}